body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #FCE09B;
}

.upper {
    height: 5%;
    text-align: center;
    background-color: #B5CB99;
    font-family: 'Roboto', sans-serif;
}

.upper h3 {
    color: #186F65;
    font-size: 2rem;
    margin: 0%;
}

.upper p {
    color: #B2533E;
    margin: 0%;
}

.main {
    position: relative;
    width: 100%;
}
.center-left {
    position: absolute;
    display: inline-block;
    padding-top: 50px;
    left: 20%;
    width: 20%;
}

.center-right {
    position: absolute;
    display: inline-block;
    left: 41%;
    width: 38%;
    padding-top: 50px;
}

.image {
    width: 100%;
}

.footer {
    position: fixed;
    top: 93%;
    width: 100%;
    background-color: #B5CB99;
    font-family: 'Gloria Hallelujah', cursive;
}

@media (max-width: 1500px) {
    .center-left {
        left: 10%;
        width: 30%;
    }
    .center-right {
        width: 48%;
        padding-top: 50px;
    }
    
}

@media (max-width: 1100px) {
    .center-left {
        left: 0%;
        width: 40%;
    }
    .center-right {
        width: 58%;
        padding-top: 50px;
    }
    
}

@media (max-width: 800px) {
    .main {
        position: static;
    }
    .center-left {
        position: static;
        display: block;
        padding-top: 50px;
        width: 100%;
    }
    
    .center-right {
        position: static;
        display: block;
        width: 80%;
        padding: 10%;
    }
    
}